extends layout.pug
block content
 h1 Login Page
 form(method="post")
   label username: 
   input(type="text" name="username")
   br
   label password: 
   input(type="password" name="password")
   br
   input(type="submit" value="sign up")